.formulario{
    width: 15rem;
    border: 2px solid #87553A;
    background-color: #D0CCC0;
    margin: 10px;
    border-radius: 10%;
    box-shadow: inset 0 0 15px 10px #87553A;
}
.divForm{
    padding: 20px;
}
.fff{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.cardForm{
    width: 15rem;
    border: 2px solid #87553A;
    background-color: #D0CCC0;
    margin: 10px;
    border-radius: 10%;
    box-shadow: inset 0 0 15px 10px #87553A;
    text-align: center;
}
.errorName{
    margin-top: 0px;
    margin-bottom: 0px;
    color: red;
    font-size: 12px;
}

.placeIncorrecto::placeholder { color: red; }

.tempIncorrecto{
    color: red;
    margin-top: 0px;
    font-size: 14px;
}
.inputPeso{
    width: 81%;
}
.btnX{
    border: 2px solid #87553A;
    background-color: #D0CCC0;
    border-radius: 10%;
    box-shadow: inset 0 0 5px 0.1px #87553a;
    text-align: center;
    cursor: pointer;
}
.ordenBtn{
    display: flex;
    justify-content: space-between;
}
.selectForm{
    text-align: center;
    cursor: pointer;
}
.btnForm{
    border: 2px solid #87553A;
    background-color: #D0CCC0;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 0.1px #87553a;
    text-align: center;
    cursor: pointer;
}
.divBtnVolver{
    text-align: center;
}