.dsa{
display: flex;
flex-direction: column;
text-align: center;
width: 65%;
border: 2px solid #87553A;
background-color: #D0CCC0;
box-shadow: inset 0 0 15px 10px #87553A;
margin: 0 auto;
margin-top: 45px;
border-radius: 5%;
padding: 15px;
margin-bottom: 20px;
}
.btnDetalle{
    width: 100%;
    border: 2px solid #87553A;
    background-color: #D0CCC0;
    box-shadow: inset 0 0 5px 0.1px #87553a;
    text-align: center;
    transition-duration: 0.4s;
    border-radius: 5px;
}
.btnDetalle:hover{
    box-shadow: 0 0 4px 2px rgba(247, 248, 252, 0.5);
    transform: scale(1.02);

    background-color: #9b7760;
  color: white;
}