.nav{
    display: inline-flex;
    background-color: #B77F4E;
    width: 99.6%;
    justify-content: space-between; /* buscar esto */
    border: 2px solid #87553A;
    box-shadow: inset 0 0 15px 10px #87553A;
}
.img{
   width: 50px;
   height: 50px;
   margin-left: 15px;
}
.search{
    margin-top: 5%;
    margin-right: 5px;
}
.title{
    margin-top: 1%;
}
.logo:hover{
    transform: scale(1.1);
}
.gifNav{
    margin-top: 10px;
    width: 5%;
    height: 5%;
    margin-right: 90px;
}
.gifPelotita{
    margin-top: 10px;
    width: 1%;
    height: 1%;
    margin-left: 0px;
}